src/main/resources/xsd/IATA_AirlineProfileRS.xsd

<?xml  version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" elementFormDefault="qualified" version="7.002" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" id="IATA2024.1"><xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OffersAndOrdersCommonTypes.xsd"/>
<xs:element name="IATA_AirlineProfileRS">
<xs:annotation>
<xs:documentation>Response from an Airline Profile Sender to an Airline Profile Receiver to get one or more Airlines' Profiles            
The message also returns multi-media content at the message level with media content references at the individual service level.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:choice minOccurs="1" maxOccurs="1">
<xs:element name="Error" type="cns:ErrorType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Response" type="cns:AirlineProfileResponseType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Airline Profile RS response information.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="AugmentationPoint" type="cns:AugmentationPointType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DistributionChain" type="cns:DistributionChainType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>An instance of a distribution channel, which is a chain of intermediaries through which a good or service passes until it reaches the final buyer or the end consumer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA standard payload attributes.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
