src/main/resources/xsd/IATA_InterlineOfferRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by Claudia Toma (Iata) -->
<xs:schema xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" elementFormDefault="qualified" version="1.002" id="IATA2023.4">
	<xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OffersAndOrdersCommonTypes.xsd"/>
	<xs:element name="IATA_InterlineOfferRS">
		<xs:annotation>
			<xs:documentation>The Interline Offer Response message is used by a supplier to respond to a request from a retailer for an offer or offers for part or all of the requested itinerary by the retailer.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>An instance of a distribution channel, which is a chain of intermediaries through which a good or service passes until it reaches the final buyer or the end consumer.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="Error" type="cns:ErrorType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Payload" type="cns:InterlineOfferResponsePayloadType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This is the payload for the Interline Offer Response message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="AugmentationPoint" type="cns:AugmentationPointType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DistributionChain" type="cns:DistributionChainType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>An instance of a distribution channel, which is a chain of intermediaries through which a good or service passes until it reaches the final buyer or the end consumer.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>IATA standard payload attributes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Supplier" type="cns:InterlineCarrierType" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>This is the Supplier who is send this message</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>