src/main/resources/xsd/IATA_InterlineOrderRQ.xsd

<?xml  version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" elementFormDefault="qualified" version="1.002" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" id="IATA2023.4"><xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OffersAndOrdersCommonTypes.xsd"/>
<xs:element name="IATA_InterlineOrderRQ">
<xs:annotation>
<xs:documentation>The Interline Order Request message is used by a retailer to request an order from a supplier.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="AugmentationPoint" type="cns:AugmentationPointType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Distributionchain" type="cns:DistributionChainType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>An instance of a distribution channel, which is a chain of intermediaries through which a good or service passes until it reaches the final buyer or the end consumer.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Payload" type="cns:InterlineOrderRequestType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>This is the payload for the Interline Order Request Type .</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA payload standard attributes.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Retailer" type="cns:InterlineCarrierType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>This is the Retailer who is send this message</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
