src/main/resources/xsd/IATA_OrderChangeNotifRQ.xsd

<?xml  version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" elementFormDefault="qualified" version="12.003" xmlns:cns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" xmlns:opt="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypesFullyOptional" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersMessage" id="IATA2024.3"><xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypes" schemaLocation="IATA_OffersAndOrdersCommonTypes.xsd"/><xs:import namespace="http://www.iata.org/IATA/2015/EASD/00/IATA_OffersAndOrdersCommonTypesFullyOptional" schemaLocation="IATA_OffersAndOrdersCommonTypesFullyOptional.xsd"/>
<xs:element name="IATA_OrderChangeNotifRQ">
<xs:annotation>
<xs:documentation>The OrderChangeNotif transaction sends an unsolicited order change notification message. The Acknowledgement message may be returned to acknowledge receipt of the notification request.</xs:documentation>
</xs:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="AugmentationPoint" type="cns:AugmentationPointType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Implementer-Augmented Structure.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DistributionChain" type="cns:DistributionChainType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>An instance of a distribution channel. That is, the set of organizations involved in the development of the current transaction.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Notification" type="OrderChangeNotifType" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Order Change Notification.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PayloadAttributes" type="cns:IATA_PayloadStandardAttributesType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>IATA Standard Payload Attributes</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="OrderChangeNotifType">
<xs:annotation>
<xs:documentation>OrderHistoryRS information</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="ChangeGroup" type="ChangeGroupType" minOccurs="1" maxOccurs="unbounded">
<xs:annotation>
<xs:documentation>A node containing change operation group.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CurrentOrder" type="cns:OrderSnapshotType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Version of the Order to which the change operations above need to be applied. Once fully updated, the version of the Order would correspond to the version of the last ChangeGroup in this batch of changes (OrderChangeNotifRQ).

Required by Sellers who are unable to store the Orders sent to them by Airlines.

Also used by Airlines unable to persist IDs or reproduce IDs consistently between Order responses.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OrderBaseline" type="cns:OrderSnapshotType" minOccurs="0" maxOccurs="1">
<xs:annotation>
<xs:documentation>Version of the Order to which the change operations above need to be applied. Once fully updated, the version of the Order would correspond to the version of the last ChangeGroup in this batch of changes (OrderChangeNotifRQ).

Required by Sellers who are unable to store the Orders sent to them by Airlines.

Also used by Airlines unable to persist IDs or reproduce IDs consistently between Order responses.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OrderRefID" type="cns:ID_Type" minOccurs="1" maxOccurs="1">
<xs:annotation>
<xs:documentation>Carrier assigned ID which uniquely identifies a specific Order across several messages.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
